<div class="wrapper">
  <button type="button" class="home btn btn-info"><a href="/stores">View All Stores</a></button>
  <button type="button" class="home btn btn-info"><a href="/brands">View All Brands</a></button>
</div>
